@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "خدمة واتساب";
    Layout = "~/Views/shared/_SharedLayout.cshtml";

}

<div class="">
    <div class="container-fluid">
        <div class="d-flex justify-content-center py-5">
            <div class="col-lg-6 loginCard mt-4">
                <img class="LoginLogo" src="/sysImages/Repass.273fcd52c430243282198b7d4ab28277.svg" alt="Repassword img">

                <!-- عنوان الصفحة -->
                <div class="row g-3 my-2 px-3">
                    <div class="col text-center">
                        <h3>تغيير كلمة السر</h3>
                    </div>
                    <div class="col-md-auto text-start">
                        <button type="button" class="bg-transparent border-0">
                            <img src="/sysImages/save.7132160244bcbd913f3a81bae3dcd411.svg" alt="save btn">
                        </button>
                    </div>
                </div>

                <!-- فورم تغيير كلمة السر -->
                <div class="container-fluid">
                    <div class="row g-3 mt-3 align-items-center justify-content-center">
                        <div class="col-md-9">
                            <div class="row">

                                <!-- كلمة السر الحالية -->
                                <div class="col-md-12">
                                    <label for="CurrentPasword" class="form-label">كلمة السر الحالية</label>
                                    <div class="input-wrapper">
                                        <i class="fa-solid fa-lock lock-icon"></i>
                                        <i class="fa-regular fa-eye-slash toggle-password"></i>
                                        <input type="password" id="CurrentPasword" class="form-control inputs text-center inputStyle" name="CurrentPasword" required>
                                    </div>
                                    <div class="invaild">
                                        <div class="feedback">الحقل مطلوب</div>
                                    </div>
                                </div>

                                <!-- كلمة السر الجديدة -->
                                <div class="col-md-12 my-3">
                                    <label for="NewPassword" class="form-label">كلمة السر الجديدة</label>
                                    <div class="input-wrapper">
                                        <i class="fa-solid fa-lock lock-icon"></i>
                                        <i class="fa-regular fa-eye-slash toggle-password"></i>
                                        <input type="password" id="NewPassword" class="form-control inputs text-center inputStyle" name="NewPassword" placeholder="كلمة السر" required>
                                    </div>
                                    <div class="invaild">
                                        <div class="feedback">الحقل مطلوب</div>
                                    </div>
                                </div>

                                <!-- تأكيد كلمة السر الجديدة -->
                                <div class="col-md-12">
                                    <label for="Confirm-password" class="form-label">تأكيد كلمة السر الجديدة</label>
                                    <div class="input-wrapper">
                                        <i class="fa-solid fa-lock lock-icon"></i>
                                        <i class="fa-regular fa-eye-slash toggle-password"></i>
                                        <input type="password" id="Confirm-password" class="form-control inputs text-center inputStyle" name="Confirm-password" required>
                                    </div>
                                    <div class="invaild">
                                        <div class="feedback">الحقل مطلوب</div>
                                    </div>
                                </div>

                            </div> <!-- end row -->
                        </div> <!-- end col-md-9 -->
                    </div> <!-- end form row -->
                </div> <!-- end container-fluid -->

            </div> <!-- end loginCard -->
        </div> <!-- end justify-content-center -->
    </div> <!-- end container-fluid -->
</div> <!-- end Pages-container -->